<html>
    <head>
        <title>Gigantic python blog</title>
    </head>
    <body>
	<div>
            <h1>Gigantic Python Blog</h1>
            <p>This is a blog created with <a href="http://djangogirls.org">this</a> <em>Django</em> tutorial. </p>
        </div>
	{% for post in posts %}
    	  <div>
            <p>published: {{ post.published_date }}</p>
            <h3><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
    	  </div>
	{% endfor %}
    </body>
</html>
